<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.model_two.dao.TUserMapper">
  <resultMap id="BaseResultMap" type="com.zz.model_two.po.TUser">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_number" jdbcType="VARCHAR" property="userNumber" />
    <result column="user_passWord" jdbcType="VARCHAR" property="userPassword" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="kind" jdbcType="BIT" property="kind" />
    <result column="user_authority _id" jdbcType="INTEGER" property="userAuthorityId" />
  </resultMap>

</mapper>