<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.model_two.dao.TUserAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.zz.model_two.po.TUserAuthority">
    <id column="user_authority _id" jdbcType="INTEGER" property="userAuthorityId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="authority_id" jdbcType="INTEGER" property="authorityId" />
  </resultMap>

</mapper>